.center-text {
    text-align: center;
    thead tr th{
                text-align: center; 
                vertical-align: middle;     
    }
    tbody tr td{
        text-align: center; 
        vertical-align: middle;     
    }
  }