h1{
    color: #ff5b6a;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
.order-container {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin: 30px;
    font-family: "Times New Roman", Times, serif;

    .id-bill{
        font-size: 20px;
        font-weight: 700;
    }
    .status{
        font-weight: 700;
    }
    .money {
        font-weight: bold;
        color: green;
        /* Add more styles as needed */
      }
    p{
        font-weight: 700;
    }

    .product-infor{
        h2{
            color: #ff5b6a; 
            margin: 10px 0
        }
        table{
            thead{
                tr{
                    th{
                        text-align: center;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        text-align: center;
                    }
                }
            }
        }
    }
}